# Capstone I Preliminary EDA
7/15/2020

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('bmh')

In [2]:
df = pd.read_csv('../data/processed/EdStatsAggregated.csv')

In [3]:
df.head(2)

,Country Name,Country Code,Indicator Name,Indicator Code,1978,1979,1980,1981,1982,1983,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,United States,USA,Expenditure on primary as % of government expe...,SE.XPD.PRIM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.982700,33.147579,33.628712,33.561531,32.421581,31.586950,30.963221,31.109060,28.698191,NaN
1,United States,USA,GDP per capita (current US$),NY.GDP.PCAP.CD,10587.285756,11695.55442,12597.66751,13993.166744,14438.976276,15561.426396,...,46437.067117,48061.537661,48401.427340,47001.555350,48373.878816,49790.665478,51450.122295,52787.026949,54598.550689,56469.008969

In [4]:
# df.info()

In [5]:
df.shape

(36, 42)

In [6]:
# df = df.dropna(axis=1)
# df.shape

In [7]:
df = df.drop(['Unnamed: 0', 'Country Name'], axis=1)

KeyError: "['Unnamed: 0'] not found in axis"

In [8]:
df.head(1)

,Country Name,Country Code,Indicator Name,Indicator Code,1978,1979,1980,1981,1982,1983,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,United States,USA,Expenditure on primary as % of government expe...,SE.XPD.PRIM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.9827,33.147579,33.628712,33.561531,32.421581,31.58695,30.963221,31.10906,28.698191,NaN

In [9]:
gdps = df[df['Indicator Code'] == 'NY.GDP.PCAP.CD']

In [10]:
primary_spend = df[df['Indicator Code'] == 'SE.XPD.PRIM.ZS']
primary_spend = primary_spend.dropna(axis=1)
primary_spend.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2006,2007,2008,2009,2010,2011,2012,2013
0,United States,USA,Expenditure on primary as % of government expe...,SE.XPD.PRIM.ZS,31.98270,33.147579,33.628712,33.561531,32.421581,31.586950,30.963221,31.109060
6,Sweden,SWE,Expenditure on primary as % of government expe...,SE.XPD.PRIM.ZS,24.90185,25.046600,24.609659,24.074690,24.286600,24.259411,21.984011,22.379950
12,Brazil,BRA,Expenditure on primary as % of government expe...,SE.XPD.PRIM.ZS,32.02467,32.198582,31.919411,32.378811,31.325951,29.285561,28.894070,27.409750
18,Germany,DEU,Expenditure on primary as % of government expe...,SE.XPD.PRIM.ZS,14.73804,14.023630,13.497080,13.549030,13.482980,13.211040,12.810500,12.784330
24,Switzerland,CHE,Expenditure on primary as % of government expe...,SE.XPD.PRIM.ZS,29.23546,29.386419,25.301100,27.927629,27.969919,28.911150,29.332621,29.696461

In [11]:
gdps = gdps.drop(['Indicator Name', 'Indicator Code'], axis=1)

In [12]:
gdps = gdps.dropna(axis=1)
gdps.head()

,Country Name,Country Code,1980,1981,1982,1983,1984,1985,1986,1987,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
1,United States,USA,12597.667510,13993.166744,14438.976276,15561.426396,17134.286017,18269.422168,19115.052908,20100.858892,...,46437.067117,48061.537661,48401.427340,47001.555350,48373.878816,49790.665478,51450.122295,52787.026949,54598.550689,56469.008969
7,Sweden,SWE,16856.761086,15366.668591,13545.259119,12430.458931,12914.330682,13474.161346,17727.495334,21485.293869,...,46256.471601,53324.379372,55746.842381,46207.059203,52076.255913,59593.287112,57134.077068,60283.245223,59180.198978,50812.190860
13,Brazil,BRA,1939.790876,2124.962989,2218.890515,1565.297832,1573.967139,1643.196503,1936.016335,2081.665262,...,5860.145975,7313.557962,8787.610375,8553.380470,11224.154083,13167.472892,12291.466852,12216.904464,12026.617310,8757.206202
19,Germany,DEU,12092.381854,10170.446275,9876.228232,9827.022409,9277.932299,9393.891691,13410.897100,16614.410104,...,36447.872318,41814.819097,45699.198323,41732.707253,41785.556913,46810.327959,44065.248908,46530.911428,48042.563435,41323.921502
25,Switzerland,CHE,18832.196719,17153.401316,17478.655793,17341.994876,16499.146931,16655.337392,23751.449517,29558.895478,...,57579.501954,63555.237500,72487.845930,69927.468770,74605.721021,88415.628061,83538.230078,85112.464398,86605.563376,82016.021313

In [13]:
list(gdps[::-1])

['Country Name',
 'Country Code',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015']

In [14]:
# gdps.set_index('Country Code', inplace=True)
g = gdps.T
g.shape

(38, 6)

In [15]:
# sns.pairplot(g)

In [16]:
g.corr(method='pearson')

Empty DataFrame
Columns: []
Index: []

In [17]:
# mask = np.triu(np.ones_like(g.corr()))
# sns.heatmap(g.corr(), mask=mask)

In [18]:
country_codes = ['USA', 'SWE', 'AUS', 'DEU', 'CHE', 'GBR']
for country in country_codes:
    print(country)

USA
SWE
AUS
DEU
CHE
GBR

In [19]:
gdps.iloc[0].describe()

count        38.000000
unique       38.000000
top       49790.665478
freq          1.000000
Name: 1, dtype: float64

In [20]:
# normal = stats.norm(gdps.iloc[0].mean(), gdps.iloc[0].std())

In [21]:
# fig, ax = plt.subplots(figsize=(12,8))
# x = np.linspace(0, gdps.iloc[0].max(), num=1000)
# ax.plot(x, normal.pdf(x))

In [ ]:
df = pd.read_csv('../data/processed/EdStatsAggregated.csv')
df.head(1)

In [ ]:
codes = ['SE.XPD.TOTL.GD.ZS',
         'SE.XPD.PRIM.ZS',
         'SE.PRM.ENRL.TC.ZS',
         'SE.PRM.TCHR',
         'SL.TLF.ADVN.ZS',
         'NY.GDP.PCAP.CD']

for code in codes:
    df2 = df.copy()
    df2 = df2[df2['Indicator Code'] == code]
    df2 = df2.dropna(axis=1)

In [ ]:
df2.head()

In [ ]:
df2.corr()

In [ ]:
mask = np.triu(np.ones_like(df2.corr()))
sns.heatmap(df2.corr(), mask=mask)